@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf); }

:root {
  --primary: hsl(195, 97%, 13%);
  --secondary: hsl(217, 89%, 61%);
  --text-color: hsl(196, 47%, 68%);
  --gray: hsl(0, 0%, 55%); }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../Assets/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 1.5; }

a, ul {
  text-decoration: underline;
  color: var(--primary);
  font-weight: bold; }

button {
  border: 0;
  cursor: pointer;
  background-color: inherit; }

img {
  margin-top: 10rem;
  width: 100%;
  max-width: 16em;
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

input {
  outline: none; }

@media only screen and (max-width: 37.5em) {
  body {
    background-image: none; } }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid var(--gray);
  border-radius: 10px;
  background-color: white; }
  @media only screen and (max-width: 48em) {
    .container {
      margin: 3rem 0;
      max-width: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 100%;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-radius: 0;
      border: none; } }

@media only screen and (max-width: 48em) {
  img {
    max-width: 30em;
    height: auto;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; } }

@media only screen and (max-width: 37.5em) {
  img {
    max-width: 25em;
    height: auto;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; } }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 50%;
  background-color: var(--primary);
  border-radius: inherit;
  border-end-end-radius: 0;
  border-start-end-radius: 0; }
  .hero .text-area {
    position: absolute;
    top: 50px; }
    .hero .text-area h1 {
      margin-bottom: 1rem; }
    .hero .text-area p {
      color: var(--text-color); }
    @media only screen and (max-width: 48em) {
      .hero .text-area {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 48em) {
    .hero {
      width: 100%;
      border-radius: 0; } }

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  color: black;
  padding: 3rem; }
  form h1 {
    margin-bottom: .7rem; }
  form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .5rem; }
    form .input-container label {
      color: black;
      font-weight: bold; }
    form .input-container input {
      padding: 1rem .9rem;
      border: 1px solid var(--gray);
      border-radius: 5px; }
  form .input-container:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    form .input-container:last-of-type p {
      margin-block: 0; }
  form button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms; }
    form button:hover {
      color: white;
      background-color: var(--gray); }
  @media only screen and (max-width: 48em) {
    form {
      width: 100%; } }

footer {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 37.5em) {
    footer {
      color: black; } }

::-webkit-input-placeholder {
  color: var(--gray); }

:-ms-input-placeholder {
  color: var(--gray); }

::-ms-input-placeholder {
  color: var(--gray); }

::placeholder {
  color: var(--gray); }
/*# sourceMappingURL=style.css.map */